@import '../../common';

.wrapper {
  position: relative;
  width: auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 3px #eff6ff;
}
.toggler {
  position: absolute;
  left: 30px;
  display: flex;
  cursor: pointer;
}
.links {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 70px; 
  width: 100%;
  background-color: #eff6ff;
  &.open {
    display: inline-flex;
  }
  .linkItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      align-self: center;
      margin: auto;
      padding: 22px 25px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #273142;
      width: 100%;
      .active {
        width: 80px;
        height: 3px;
        border-radius: 17px;
        background-color: #538fff;
      }
    }
  }
}

.activeLine {
  position: absolute;
  bottom: 0;
  display: none;
  width: 80px;
  height: 3px;
  border-radius: 17px;
  background-color: #538fff;
}

.right {
  position: absolute;
  right: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  .profile {
    display: flex;
    align-items: center;
    margin-right: 30px;
    .avatar {
      width: 46px;
      height: 46px;
      background-image: url('../../assets/avatar.svg');
      margin-right: 10px;
    }
    .name {
      width: 103px;
      height: 17px;
      font-size: 12px;
      color: #273142;
    }
    .level {
      width: 82px;
      height: 17px;
      font-size: 12px;
      color: #9cb2cd;
    }
    .arrow {
      font-size: 0;
    }
  }
}

.arrow {
  width: 8px;
  height: 6px;
  background-image: url('../../assets/arrow.svg');
  background-repeat: no-repeat;
  margin: 4px 0 0 10px;
}

@media screen and (min-width: 768px) {
  .toggler {
    display: none;
  }
  .links{
    flex-direction: row;
    position: static;
    height: 70px;
    display: inline-flex;
    background-color: transparent;
  }
  .activeLine {
    display: block;
  }
}